@import "@/variables";

$toast_color: $color_default_darken_1 !default;
$toast_text_color: $color_white !default;
$toast_close_border_color: transparentize($color_white, 0.7) !default;
$toast_close_color: transparentize($color_white, 0.3) !default;
$toast_close_hover_color: $color_white !default;

$toast_success_color: $color-success-darken-1 !default;
$toast_success_text_color: $color_white !default;
$toast_success_close_border_color: transparentize($color_white, 0.7) !default;
$toast_success_close_color: transparentize($color_white, 0.3) !default;
$toast_success_close_hover_color: $color_white !default;

$toast_info_color: $color-info-darken-1 !default;
$toast_info_text_color: $color_white !default;
$toast_info_close_border_color: transparentize($color_white, 0.7) !default;
$toast_info_close_color: transparentize($color_white, 0.3) !default;
$toast_info_close_hover_color: $color_white !default;

$toast_error_color: $color-error-darken-1 !default;
$toast_error_text_color: $color_white !default;
$toast_error_close_border_color: transparentize($color_white, 0.7) !default;
$toast_error_close_color: transparentize($color_white, 0.3) !default;
$toast_error_close_hover_color: $color_white !default;

$toast: (
    xxs: (min-width: 100%, max-width: 100%),
    xs: (min-width: 100%, max-width: 100%),
    s: (min-width: 100%, max-width: 100%),
    m: (min-width: 10%, max-width: 100%),
    l: (min-width: 10%, max-width: 100%),
    xl: (min-width: 10%, max-width: 100%),
    xxl: (min-width: 10%, max-width: 100%),
);

.toaster {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 10px;
    max-width: calc(100% - 20px);
    text-align: right;

    &__toast {
        align-items: center;
        background-color: $toast_color;
        border-radius: 2px;
        box-shadow: $shadow_3;
        color: $toast_text_color;
        cursor: default;
        display: inline-flex;
        font-family: $project_font;
        font-size: 16px;
        font-weight: normal;
        height: auto;
        justify-content: space-between;
        letter-spacing: 0.05rem;
        line-height: 24px;
        margin-top: 10px;
        max-width: 100%;
        min-height: 40px;
        min-width: 10%;
        opacity: 0;
        padding: 15px 60px 15px 25px;
        position: relative;
        top: 20px;
        transition: top $animation $animation_time, opacity $animation $animation_time, visibility $animation $animation_time;
        width: auto;
        word-break: break-all;

        &-show {
            top: 0;
            opacity: 1;
        }

        &-hide {
            opacity: 0;
            visibility: hidden;
        }

        &-close {
            @include no_selection();
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            cursor: pointer;
            border-left: 1px solid $toast_close_border_color;
            color: $toast_close_color;
            height: 100%;
            box-sizing: content-box;
            display: flex;
            align-items: center;

            & > svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                transform: translate(-50%, -50%);
                transition: transform $animation_time $animation_bounce;
            }

            &:hover > svg {
                transform: translate(-50%, -50%) scale(1.2);
            }

            &:hover {
                color: $toast_close_hover_color;
            }
        }

        &-success {
            background-color: $toast_success_color;
            color: $toast_success_text_color;

            &-close {
                border-color: $toast_success_close_border_color;
                color: $toast_success_close_color;

                &:hover {
                    color: $toast_success_close_hover_color;
                }
            }
        }

        &-info {
            background-color: $toast_info_color;
            color: $toast_info_text_color;

            &-close {
                border-color: $toast_info_close_border_color;
                color: $toast_info_close_color;

                &:hover {
                    color: $toast_info_close_hover_color;
                }
            }
        }

        &-error {
            background-color: $toast_error_color;
            color: $toast_error_text_color;

            &-close {
                border-color: $toast_error_close_border_color;
                color: $toast_error_close_color;

                &:hover {
                    color: $toast_error_close_hover_color;
                }
            }
        }
    }
}
