@import "@/variables.scss";

.entry-link {
    @include font(1em, 400);
    color: $color_default;
    text-decoration: none;
    cursor: pointer;
    transition: color $animation $animation_time;

    &__underline {
        text-decoration: underline;
    }

    &:hover {
        color: $color_default_hover;
    }
}
