$color_default_lighten_2: #6DA6DD; //#4B7DDF;
$color_default_lighten_1: #3581CB; //#1359E4;
$color_default: #0c6dcb; //#0540B4;
$color_default_darken_1: #0b57a1; //#042F84;
$color_default_darken_2: #032C52; //#021E55;

$color_success_lighten_2: #3EDF49;
$color_success_lighten_1: #00E20F;
$color_success: #00B60C;
$color_success_darken_1: #008809;
$color_success_darken_2: #005005;

$color_info_lighten_2: #FFBF6C;
$color_info_lighten_1: #FF9F21;
$color_info: #FF9000;
$color_info_darken_1: #E78200;
$color_info_darken_2: #AD6200;

$color_error_lighten_2: #FF7E6D;
$color_error_lighten_1: #FF4128;
$color_error: #FF1E00;
$color_error_darken_1: #C91700;
$color_error_darken_2: #6B0C00;

$color_gray_lighten_2: #d7d7d7;
$color_gray_lighten_1: #bdbdbd;
$color_gray: #858585;
$color_gray_darken_1: #656565;
$color_gray_darken_2: #444444;

$color_white: #FFFFFF;
$color_black: #101010;
$color_text_black: #2f2f2f;

@import "./assets/fonts/source-sans-pro";
$project_font: 'Source Sans Pro';

$base_size_unit: 28px;

$animation_time: 150ms;
$animation: cubic-bezier(0.24, 0.19, 0.28, 1.29);
$animation_bounce: cubic-bezier(0.24, 0.19, 0.63, 2.26);

$shadow_1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow_2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow_3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow_4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow_5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow_hover: 0 2px 4px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);

/* Disable selection */
@mixin no_selection($classes: '&, & *') {
    #{$classes} {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
